.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
  background-color: rgba(63,74,38,0.54);
}

header .wrapper_input_button {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: #ffd11b;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px black;
  box-shadow: 0 3px 2px rgba(0,0,0,0.6);
}

header button:hover {
  color: white;
}

my-date-picker {
  width: 160px;
  margin: 10px;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header input {
  display: block;
  padding-left: 5px;
  height: 48px;
  width: 155px;
  border-radius: 5px;
  border: 1px black;
  box-shadow: 0 3px 2px rgba(0,0,0,0.6);
  margin: 10px;
}

header textarea {
  display: block;
  width: 220px;
  height: 80px;
  margin: 10px;
  padding: 5px;
  border: 1px black;
  border-radius: 5px;
  box-shadow: 0 3px 2px rgba(0,0,0,0.6);
  font-family: Arial, Helvetica, sans-serif;
}

header .enter_tags {
  position: relative;
}

header .enter_tags input {
  padding-right: 60px;
  width: 165px;
}

header .enter_tags button {
  position: absolute;
  right: 5px;
  top: 10px;
  height: 30px;
}

header .enter_tags p {
  width: 230px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}

header .enter_tags p .invisible {
  display: none;
}

header .search {
  position: relative;
  border: solid 1px black;
  border-radius: 5px;
}

header .search input {
  padding-right: 60px;
  width: 163px;
  height: 30px;
}

header .search button {
  position: absolute;
  height: 20px;
  right: 5px;
}

header .search button.description_search {
  top: 5px;
}

header .search button.tag_search {
  bottom: 5px;
}

main {
  margin: 0 auto;
}

main li {
  background-color: rgba(205,205,210,0.97);
}

main li:nth-child(2n) {
  background-color: rgba(63,74,38,0.54);
}

main li {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

main li button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ff6441;
  border-radius: 5px;
  border: solid 1px black;
  box-shadow: 0 3px 2px rgba(0,0,0,0.6);
}

main li button:hover {
  color: white;
}

main li.ended {
  color: #95070b;
}

